/*
Color Schema
#EAEAF1
#D98C44
#A74E19
#72260B
#3E1103
*/
body{
    height: 100%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-family: caviarFont, Arial, Helvetica, sans-serif;
    color: #D98C44;
    background-color: #3E1103;
    font-size: 20px;
}

.page{
    height: 100vh;
    overflow-x: hidden;
    padding: 0;
    min-height: fit-content;
}

.halfpage{
    height: 30%;
}

.top{
    background: url("../images/placeholderKaffe.jpg") #EAEAF1;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom right;
    color: #3E1103;
    text-shadow: 2px 2px #EAEAF1;
}

.textBox{
    position: relative;
    bottom: 0%;
    top: 10%;
}

h1{
    font-size: 40px;
    padding: 15px;
}
.bottom{
    padding: 10px;
}

.input{
    background-color: #EAEAF1;
    color: #3E1103;
    border: 2px solid #3E1103;
    margin-top: 3px;
    margin-left: 0;
    margin-right: 0;
}

.button{
    background-color: #72260B;
    color: #EAEAF1;
    font-family: caviarFont, Arial, Helvetica, sans-serif;
}

table, th, td{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    white-space: nowrap;
    
}

#result_table{
    display: none;
    font-size: 14px;
    margin: 10px;
}

#saved_btn{
    display: none;
}
#saved_list{
    display: none;
}

.databox{
    width: 100%;
    height: 100%;
    background-color: #EAEAF1;
    border: 1px solid #72260B;
    
    text-align: left;
    font-size: 16px;
    color: #3E1103;
}

ul{
    list-style-type: none;
    padding-left: 4px;
    margin: 2px;
}

